.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.Tile {
  background-color: #7e8ba3;
  min-height: 50px;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

.TileUsed {
  background-color: #282c34;
  min-height: 50px;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

.BoardRow {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.BoardCol {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Board {
  height: 280px;
  width: 280px;
  justify-content: center;
}

.GameButton {
  width: 120px;
}

.GameListEntry {
  width: 280px;
  flex-direction: row;
}

.GameListRow {
  align-items: center;
  justify-content: center;
}

.MainContent {
  width: 280px;
  justify-content: center;
}