.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.Tile {
  background-color: #7e8ba3;
  min-height: 60px;
  min-width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

.TileUsed {
  background-color: #282c34;
  min-height: 60px;
  min-width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

.BoardRow {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.BoardCol {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Board {
  height: 300px;
  width: 300px;
  margin-top: 25px;
  margin-left: 10px;
  justify-content: center;
}

.GameButton {
  width: 120px;
}

.GameButtonPadded {
  width: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.GameListEntry {
  width: 300px;
  flex-direction: row;
}

.GameListRow {
  align-items: center;
  justify-content: center;
}

.MainContent {
  width: 320px;
  align-items: center;
  justify-content: center;
}

.BelowMainContent {
  width: 320px;
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  justify-content: center;
}

.BelowMainContentColumnLeft {
  width: 160px;
  margin-left: 10px;
  margin-right: 10px;
}
.BelowMainContentColumnRight {
  width: 160px;
  display: flex;
  direction: rtl;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 10px;
  margin-right: 10px;
}

.ChatGroup {
  width: 100%;
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  justify-content: center;
}

.FullWidthContent {
  width: 100%;
  display: flex;
  margin-top: 15px;
  flex-direction: column;
}

.ChatMessagesArea {
  width: 320px;
  resize: none;
}

.MainBody {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.TurnContainer {
  width: 100%;
  height: 20px;
  justify-content: center;
}
